doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner: .container
            .brand Contact manager
            
        
    //-GUTS
    block content
        
    //-templates
    script(type='text/template' id='contact-list')
        thead: tr
            th First Name
            th Last Name
            th
        tbody
        
    script(type='text/template' id='contact-list-item')
        td <%- firstName %>
        td <%- lastName %>
        td
            button.btn.btn-small.js-delete
                i.icon-remove 
                | Delete
        
    script(type='text/javascript' src="/javascripts/vendor/jquery.js")
    script(type='text/javascript' src="/javascripts/vendor/json2.js")
    script(type='text/javascript' src="/javascripts/vendor/underscore.js")
    script(type='text/javascript' src="/javascripts/vendor/backbone.js")
    script(type='text/javascript' src="/javascripts/vendor/backbone.marionette.js")
    //- App
    script(type='text/javascript' src="/javascripts/app.js")
    script(type='text/javascript' src="/javascripts/entities/contact.js")
    script(type='text/javascript' src="/javascripts/apps/contacts/list/list_view.js")
    script(type='text/javascript' src="/javascripts/apps/contacts/list/list_controller.js")
    
    script(type='text/javascript').
        ContactManager.start();
        